.movies {
  max-width: 1280px;
  min-height: 70vh;
  padding: 0 70px;
  background-color: #FAFAFA;
}

.search-error {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 800px;
}

@media (max-width: 768px) {
  .movies {
    padding: 0 30px;
  }
}

@media (max-width: 440px) {
  .movies {
    padding: 0 10px;
  }
}
