.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  padding: 70px 0;
  background-color: #FAFAFA;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  width: 100%;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding-bottom: 120px;
}

.profile__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  width: 410px;
  border-bottom: solid 1px #E8E8E8;;
}

.profile__input{
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
  text-align: right;
  color: #000000;
  border: none;
  padding: 16px 0 16px;
  text-align: right;
  background-color: #FAFAFA;
}

.profile__label:last-of-type {
   border: none;
}

.profile__input::-webkit-input-placeholder {
   color: #CCCCCC;
}

.profile__input:hover {
  outline-color: #3456F3;
}

.profile__input:focus {
  outline-color: #3456F3;
}

.profile__input:active {
  outline-color: #3456F3;
}

.profile__submit-button {
  border: none;
  color: black;
  margin-top: 204px;
  padding: 0;
  transition: opacity ease-in .2s;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  background-color: #FAFAFA;
}

.profile__submit-button_red {
  color: red;
}

.profile__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

.profile__subtitle {
  margin: 16px 0 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

@media (max-width: 460px) {
  .profile {
    padding: 70px 0 40px 0;
  }
  .profile__label {
    width: 260px;
  }
}
